*.iml
.gradle
/local.properties
/.idea/*
/.idea/libraries
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/caches/*
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
